# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Flask cache
instance/
*.log

# Model cache (SentenceTransformers)
data/
models/
cache/
